<div class="container">
    <mat-card class="signup-card">
        <mat-card-header>
            <mat-card-title>
            Create your account
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/Fedex-logo.png" alt="Fedex Logo">
        <mat-card-content>
                <form [formGroup]="signupForm">
                    <div class="form-content">       
                        
                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" required>
                            <mat-error>
                                First Name is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" required>
                            <mat-error>
                                Last Name is required
                            </mat-error>
                        </mat-form-field>
                
                        <mat-form-field>
                            <input matInput formControlName="email" name="email" placeholder="Email" required>
                            <mat-error *ngIf="email.hasError('required')">
                                E-mail is mandatory.
                            </mat-error>
                            <mat-error *ngIf="email.hasError('invalidEmail')">
                                E-mail is invalid.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput formControlName="password" placeholder="Password" type="password" [errorStateMatcher]="matcher" required>
                            <mat-hint class="ac-form-field-description">More than {{ passwordMinLength }} characters.</mat-hint>
                            <mat-error *ngIf="password.hasError('required')">
                                Password is mandatory.
                            </mat-error>
                            <mat-error *ngIf="password.hasError('minlength')">
                                Password with less than {{ passwordMinLength }} characters.
                            </mat-error>
                            <mat-error *ngIf="password.hasError('containsFirstOrLastName')">
                                Email must not contain first or last name
                            </mat-error>
                            <mat-error *ngIf="password.hasError('hasUpperCase') || password.hasError('hasLowerCase')">
                                Password must contain upper and lOwer case
                            </mat-error>
                        </mat-form-field>

            
                        <mat-form-field>
                            <input matInput formControlName="confirmPassword" placeholder="Confirm the password" type="password">
                            <mat-error *ngIf="confirmPassword.hasError('passwordMismatch')" >Passwords are different. They should be equal</mat-error>
                        </mat-form-field>
                
                    </div>
                </form>
                <mat-card-actions>
                    <mat-spinner-button 
                        [options]="spinnerButtonOptions"
                        (btnClick)="submitAccount()">
                    </mat-spinner-button>
                    <button mat-raised-button [disabled]="loading" (click)="clearForm()">Reset</button>
                </mat-card-actions>
   
        </mat-card-content>
    </mat-card>
</div>